<head>
	<title>Search another user</title>
</head>
		<div class="title">
            <h1>Search your friend</h1>
        </div>
        <body>
        	<form method="post" enctype="multipart/form-data" action="/findfriend">
                <label for="fname">First name:</label>
                <input type="text" name="fname" required='true', placeholder="Yiding" />
                <label for="lname">First name:</label>
                <input type="text" name="lname" required='true', placeholder="Ou" />
                <input type="submit" value="Search" />
            </form>
        </body>